doctype html
html(data-ng-app='Notifications')
    head
      title Notifications
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .container
          h1 Notifications

          div(data-ng-controller='NotificationsController')
            div(data-notifications data-server='#{server}')
              div(data-alert data-ng-repeat='notification in notifications' data-type='notification.type' data-close='close($index)' class='ng-cloak')
                | {{ notification.msg }}

        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js')
        script(src='/socket.io/socket.io.js')
        script(src='/js/notifications.js')
